<h1><%= @chat_room.title %></h1>

<div id="messages" data-chat-room-id="<%= @chat_room.id %>">
  <%= render @chat_room.messages %>
</div>

<%= form_for @message, url: "#", remote: true do |f| %>
  <div class="form-group">
    <%= f.rich_text_area :body, class: 'form-control' %>
    <small class="text-muted"><%= t("chat_room.body_limit", min: 2, max: 1000) %></small>
  </div>

  <%= f.submit t("chat_room.send"), class: 'btn btn-primary btn-lg' %>
<% end %>
