<h2><%= t("devise.edit", name: resource_name.to_s.humanize) %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="form-floating mb-3">
    <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "email@example.com" %>
    <%= f.label :email %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div><%= t("devise.waiting_confirmations", email: resource.unconfirmed_email) %></div>
  <% end %>

  <div class="form-floating mb-3">

    <%= f.password_field :password, class: "form-control", placeholder: t("devise.password") %>
    <% if @minimum_password_length %>
      <em><%= t("devise.minimum_characters", min: @minimum_password_length) %></em>
    <% end %>
    <%= f.label :password %> <i><%= t("devise.leave_password_black") %></i><br />

  </div>

  <div class="form-floating mb-3">
    <%= f.password_field :password_confirmation, class: "form-control", placeholder: t("devise.password") %>
    <%= f.label :password_confirmation %>

  </div>

  <div class="form-floating mb-3">
    <%= f.password_field :current_password, class: "form-control", placeholder: t("devise.current_password") %>
    <%= f.label :current_password %> <i><%= t("devise.need_current_password") %></i>
  </div>

  <div class="actions">
    <%= f.submit "Update", class: "w-100 btn btn-lg btn-primary" %>
  </div>
<% end %>

<h3><%= t("devise.cancel_account") %></h3>

<p><%= t("devise.unhappy")%> <%= button_to t("devise.cancel_account"), registration_path(resource_name), data: { confirm: t("devise.are_you_sure") }, method: :delete, class: "w-100 btn btn-lg btn-danger" %></p>

<%= link_to t("devise.back"), :back %>
