<div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
  <a href="<%= new_chat_room_path %>" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
    <span class="fs-5 d-none d-sm-inline"><%= t("chat_room.new") %></span>
    <i class="fa fa-plus-circle ms-3" aria-hidden="true"></i>
  </a>
  <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
    <%= @chat_rooms.find_each do |chat_room| %>
      <li class="nav-item">
        <a href="<%= chat_room_path(chat_room) %>" class="nav-link align-middle px-0">
          <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline"><%= chat_room.title %></span>
        </a>
      </li>
    <% end %>

  </ul>
</div>
