<h2>Change your password</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <%= f.hidden_field :reset_password_token %>

  <div class="field">
    <%= f.password_field :password, autofocus: true, class: "form-control", placeholder: t("devise.new_password") %>
    <% if @minimum_password_length %>
      <em>(<%= t("devise.minimum_characters", min: @minimum_password_length) %>)</em>
    <% end %>
    <%= f.label :password, t("devise.new_password") %>
  </div>

  <div class="field">
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", placeholder: t("devise.new_password") %>
    <%= f.label :password_confirmation, t("devise.confirm_password") %><br />
  </div>

  <div class="actions">
    <%= f.submit t("devise.change_password"), class: "w-100 btn btn-lg btn-primary" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
