<p><%= t("devise.hello", email: resource.email) %>!</p>

<p><%= t("devise.reset_password_warning") %></p>

<p><%= link_to t("devise.change_password"), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= t("devise.change_password_1") %></p>
<p><%= t("devise.change_password_2") %></p>
